#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.heightDiv {
  height: 25px;
  border: 1px solid black;
}

.widthDiv {
  width: 100px;
}

.silver {
  background-color: silver;
}

.gold {
  background-color: gold;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px dotted grey;
}