<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="exercise">
        <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
        <p>VueJS is pretty cool - {{ name }} {{ age }}</p>
        <!-- 2) Output your age, multiplied by 3 -->
        <p>{{ multiplyAge() }}</p>
        <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
        <p>{{ random() }}</p>
        <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
        <div>
            <img v-bind:src="imgLink" style="width:100px;height:100px">
        </div>
        <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
        <div>
            <input v-bind:value="name" type="text">
        </div>
    </div>
    <script>
        new Vue({
            el: "#exercise",
            data: {
                name: "David Mor",
                age: "29",
                imgLink: "https://picsum.photos/id/816/200/300"
            },
            methods: {
                multiplyAge: function () {
                    return this.age * 3
                },
                random: function () {
                    return Math.random().toFixed(2)
                }
            }
        })
    </script>
</body>

</html>